<template>
  <div>
    <h1>Calc</h1>
    <p>
      Используется библиотека
      <a href="https://github.com/infusion/Fraction.js/" target="_blank">Fraction.js</a>
      для работы с дробями
    </p>
    <component-calc v-model="value"/>
  </div>
</template>

<script>
import ComponentCalc from '@/components/calc/index.vue';

export default {
  name: 'ViewCalc',
  data() {
    return {
      value: {
        fractions: [
          1.5,
          1.5,
        ],
        operators: ['+'],
      },
    };
  },
  components: {
    ComponentCalc,
  },
};
</script>

<style scoped>

</style>
