<template>
  <div>
    <h1>Socket</h1>
    <ul>
      <li
        v-for="item in list"
        :key="item.id"
      >
        {{ item.name }}
        <button
          @click="sendRemoveItem(item)"
          :disabled="!socketIsOpen"
        >
          Удалить
        </button>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'ViewSocket',
  data() {
    return {
      /**
       * Список
       */
      list: [...Array(10).keys()].map(key => ({
        id: key,
        name: key.toString(),
      })),
      /**
       * Сокет
       */
      socket: null,
      /**
       * Сокет открытый
       */
      socketIsOpen: false,
    };
  },
  methods: {
    /**
     * Открыть сокер
     */
    openSocket() {
      this.socket = new WebSocket('ws://echo.websocket.org/');
    },
    /**
     * Закрыть сокет
     */
    closeSocket() {
      this.socket.close();
    },
    /**
     * Событие открытия сокета
     */
    onOpenSocket() {
      this.socketIsOpen = true;
    },
    /**
     * Событие закрытия сокета
     * @param {Object} event
     */
    onCloseSocket(event) {
      this.socketIsOpen = false;

      // Переоткрыть если отвалилось соединение
      if (!event.wasClean) {
        this.openSocket();
      }
    },
    /**
     * Событие получения сообщения сокета
     * @param {Object} event
     */
    onMessageSocket(event) {
      this.removeItemById(JSON.parse(event.data));
    },
    /**
     * Отправить запрос на удаление айтема
     * @param {Object} item - айтем
     * @param {Number} item.id - Идентификатор айтема
     * @param {String} item.name - Имя айтема
     */
    sendRemoveItem(item) {
      this.socket.send(JSON.stringify(item.id));
    },
    /**
     * Удалить айтем из списка
     * @param {Number} id - Идентификатор айтема
     */
    removeItemById(id) {
      const index = this.list.findIndex(item => item.id === id);

      if (index !== -1) {
        this.list.splice(index, 1);
      }
    },
  },
  created() {
    this.openSocket();

    this.socket.addEventListener('open', this.onOpenSocket);
    this.socket.addEventListener('close', this.onCloseSocket);
    this.socket.addEventListener('message', this.onMessageSocket);
  },
  beforeDestroy() {
    this.closeSocket();

    this.socket.removeEventListener('open', this.onOpenSocket);
    this.socket.removeEventListener('close', this.onCloseSocket);
    this.socket.removeEventListener('message', this.onMessageSocket);
  },
};
</script>
