<template>
  <div class="calc-fraction">
    <input
      type="number"
      v-model.number="n"
      @input="onChange"
      class="calc-fraction__input"
    >
    <hr class="calc-fraction__hr"/>
    <input
      type="number"
      v-model.number="d"
      @input="onChange"
      class="calc-fraction__input"
      :class="d === 0 ? 'calc-fraction__input_error' : ''"
    >
  </div>
</template>

<script>
import Fraction from 'fraction.js';

/**
 * Компонент дроби
 */
export default {
  name: 'CalcFraction',
  data() {
    return {
      /**
       * Числитель
       */
      n: this.value.n,
      /**
       * Знаменатель
       */
      d: this.value.d,
    };
  },
  props: {
    /**
     * @model
     * @param {Fraction}
     */
    value: {
      type: Object,
      required: true,
      validator: value => ['d', 'n'].every(key => Object.prototype.hasOwnProperty.call(value, key)),
    },
  },
  methods: {
    /**
     * @private
     */
    onChange() {
      if (this.d !== 0) {
        /**
         * Запускается при изменении значения
         * @param {Fraction} value - Обновленное значение
         */
        this.$emit('input', new Fraction(this.n, this.d));
      }
    },
  },
};
</script>

<style scoped lang="stylus">
  .calc-fraction
    display flex
    flex-direction column

    &__input
      width 7em

      &_error
        border-color red

    &__hr
      width 100%
</style>
