<template>
  <div class="calc-form">
    <div class="calc-form__fields">
      <template v-for="(fraction, index) in fractions">
        <calc-fraction
          v-model="fractions[index]"
          :key="`f${index}`"
          class="calc-form__field"
        />
        <calc-operator
          v-if="isNotLastFraction(index)"
          v-model="operators[index]"
          :key="`o${index}`"
          class="calc-form__field"
        />
      </template>
      <div class="calc-form__result calc-form__field">
        <div class="calc-form__result-symbol">=</div>
        <div
          class="calc-form__result-symbol"
          v-if="result.s < 0"
        >
          -
        </div>
        <div class="calc-form__result-value">
          {{ result.n || 0 }}
          <hr/>
          {{ result.d }}
        </div>
      </div>
    </div>
    <button @click="addFraction">Add fraction</button>
  </div>
</template>

<script>
import Fraction from 'fraction.js';

import CalcFraction from './fraction.vue';
import CalcOperator from './operator.vue';

/**
 * Компонент калькулятора
 */
export default {
  name: 'ComponentCalc',
  components: {
    CalcFraction,
    CalcOperator,
  },
  props: {
    /**
     * @model
     * @param {Object[]} value
     * @param {Fraction} value[].fractions - Дроби
     * @param {TypeOperator} value[].operators - Операторы
     */
    value: {
      type: Object,
      required: true,
      validator(value) {
        return Array.isArray(value.fractions) && Array.isArray(value.operators);
      },
    },
  },
  data() {
    return {
      /**
       * Дроби
       */
      fractions: this.value.fractions.map(fraction => new Fraction(fraction)),
      /**
       * Операторы
       */
      operators: this.value.operators,
    };
  },
  computed: {
    /**
     * Результат
     * @returns {Fraction}
     */
    result() {
      const str = this.fractions
                    .map((fraction, index) => `(${fraction.valueOf()})${this.isNotLastFraction(index) ? this.operators[index] : ''}`)
                    join('');

      return new Fraction(eval(str.replace(/[^-\d/*()+.,]/g, ''))); // eslint-disable-line no-eval
    },
  },
  methods: {
    /**
     * Добавить дробь
     */
    addFraction() {
      this.operators.push('+');
      this.fractions.push(new Fraction(1));
    },
    /**
     * Не последняя дробь
     * @param {number} index - Индекс
     * @returns {boolean}
     */
    isNotLastFraction(index) {
      return index !== this.fractions.length - 1;
    },
  },
  watch: {
    fractions() {
      /**
       * Запускается при изменении значения
       * @param {Object[]} value - Обновленное значение
       * @param {Number} value[].fractions - Дроби
       * @param {TypeOperator} value[].operators - Операторы
       */
      this.$emit('input', {
        fractions: this.fractions.map(fraction => fraction.valueOf()),
        operators: this.operators,
      });
    },
  },
};
</script>

<style scoped lang="stylus">
  .calc-form
    display flex
    flex-direction column
    align-items flex-start

    &__field:not(:last-child)
      margin-right 1em

    &__fields
      display flex
      align-items center
      align-content flex-start
      margin-bottom 1em

    &__result
      display flex
      align-items center
      min-width 7em

      &-value
        flex-grow 1

      &-symbol
        margin-right .5em
</style>
