<template>
  <select
    :value="value"
    @input="onChange"
  >
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
</template>

<script>
/**
 * Оператор действий в калькуляторе
 */

/**
 * Тип оператора
 * @typedef {('+'|'-'|'*'|'/')} TypeOperator
 */
export default {
  name: 'CalcOperator',
  props: {
    /**
     * Тип оператора
     * @model
     * @default '+'
     * @param {TypeOperator}
     */
    value: {
      type: String,
      default: '+',
      validator: value => ['+', '-', '*', '/'].indexOf(value) !== -1,
    },
  },
  methods: {
    /**
     * @private
     */
    onChange(event) {
      /**
       * Запускается при изменении значения
       * @param {string} - Обновленное значение
       */
      this.$emit('input', event.target.value);
    },
  },
};
</script>
