<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ name: 'home' }">Home</router-link> |
      <router-link :to="{ name: 'calc' }">Calc</router-link> |
      <router-link :to="{ name: 'socket' }">Socket</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="stylus">
@require "~normalize.css"

*
  &
  &:after
  &:before
    box-sizing border-box

#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

#nav
  padding 30px
  text-align center
  a
    font-weight bold
    color #2c3e50
    &.router-link-exact-active
      color #42b983
</style>
